@charset "utf-8";
/*
this is my CSS file created on 09/16/2022
*/

body, header,nav,main,footer,h1,div,img,ul {
                          margin: 0;
                          padding: 0;
                          border: 0;

}

body {
 background-color: #000033;
 }

.Menu {
display: none;
}
/* style rules for mobile viewport */

/* style rules for header */

header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: #000033;
        height: 190px;
        text-align: center;

}

header img {
      margin: 0 auto;

}

nav {

  }

nav ul{
list-style-type: none;
text-align: center;
}

nav li{
 font-size: 1.5em;
border-top: 1px solid #fff;
font-family: 'Francois One', sans-serif;
display:block;

}
nav li:first-child {
     border:none;
     display: inline-block;

}

nav li a{
display: block;
color: white;
padding: 0.5em 1em;
text-decoration: none;

}



/* show mobile class, hide tablet-desktop class */
.mobile {
   display: block;
}


.tablet-desktop {
    display: none;
}


.tel-link {
     background-color: azure;
     padding: 2%;
     margin: 0 auto;
     width: 80;
     text-align: center;
     border-radius: 5px;
}

.tel-link a {
   color: #000033;
   text-decoration: none;
   font-size: 1.5em;
   display: block;
}

.hours {
   margin-left: 10%;
}


main {
    background-color: #000033;
    padding: 2%;
    font-size: 1.15em;
    font-family: 'Roboto Slab', serif;
    }

main, p {
      color:white;
      text-align: center;
      font-size: 1.25em;

}

/* Style rule for footer content */
footer {
      font-size: 1em;
      text-align: center;
      color: green;
      padding: 0 1em;
}

footer a{
      color: azure;
      text-decoration: none;
}

.menu {
            text-align: center;
            color: white;
        }


#OurFood{
    display: block;
}

.food{
display:none;
}

#about {

     text-align: center;
     border-top: 1px solid green;
     border-bottom: 1px solid green;
     background-color: #f2f2f2;
     padding: 1% 2%;

}

#about dt {
         font-weight: bold;
}

#about dd {
       padding: 0.5% 1% 2% 0;
}

#mobile {
     color: #000033;
     text-align: center;
      border-radius: 8px;
     background-color: #f2f2f2;
     padding: 2%;
}

#about {
      color: green;
      text-align: center;
}



/* Style rules for contact content */
#contact {
    text-align: center;
}

#contact .email-link {
    color:lightgreen;
    text-decoration: none;
    font-weight: bold;
}
 .mobil {
    background-color: lightgreen;
        padding: 2%;
        margin: 0 auto;
        width: 80%;
        text-align: center;
        border-radius: 5px;
}
.mobil a {
    color: #fff;
        text-decoration: none;
        font-size: 1.5em;
        display: block;
}

.tab-desk{
display:none;
}

.maps {
    border: 5px solid green;
    width: 95%;
    height: 50%;
}


table {
  background-color: #green;
  width: 100%;
  margin: 0 auto;
  border: 2px solid #white;
  border-collapse: collapse;

}


caption{
color:lightgreen;
font-weight: bold;
font-size: 2em;
padding: 2%;

}

th, td {
border: 1px solid white;
padding: 2%;
}

td{
color: lightgreen;
}

@media screen and (min-width: 700px), print {

  body {
 background-color: #000033;
 }

/* show tablet and hide mobile */
.mobil {
display:none;
}

.mobile{
display:none;
}

.tab-desk{
display:block;}

.tablet-desktop{
display: block;
}
/* style rules for header */

header {
        position: -webkit-sticky;
        position: static;
        top: 0;
        height: 190px;
        text-align:left;

}

header img {
      margin: 0 auto;
}

nav {

    padding: 1%;
    margin-bottom: 1%;
    height: 190px;
  }

nav ul{
list-style-type: none;
margin: 0;
text-align: right;
float: right;
}

nav li{
 display: inline-block;
 font-size: 1.5em;
 font-weight: bold;
 float: right;
 border:none;
}
nav li a
{
   padding: 0.25em 0.5em;
}


nav li a:hover {
    color: lightgreen;
    background-color: fff;
    padding: 0.5em 1em;
}



main, p {
      color:white;
      text-align: center;
      font-size: 150%

}

footer p {
      font-size: 1em;
      text-align: center;
      color: green;
      padding: 0 1em;
}

footer p a{
      color: azure;
      text-decoration: none;
}

#contact {
    text-align: center;
}

#contact a {
      color: azure;
      text-decoration: none;
}

.menu {
            text-align: center;
            color: white;
        }

.table{
display:none
}

.Menu {
display: block;
}

.food{
display:block;
}

#about {

     text-align: center;
     border-top: 1px solid green;
     border-bottom: 1px solid green;
     background-color: #f2f2f2;
     padding: 1% 2%;

}
#about dt {
         font-weight: bold;
}

#about dd {
       padding: 0.5% 1% 2% 0;
}




#about {
      color: green;
      text-align: center;
}

.maps {
    width: 500px;
    height: 450px;
    border: 5px solid green;
}

}

/* Media Query for print */
@media print {
body{
background-color: #fff;
color: #000;
}
}
